PORT=3000
NODE_ENV=development
FIREBASE_COLLECTION_PREFIX=dev_

# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

OPENROUTESERVICE_API_KEY=
CORS_ORIGIN=
UPLOADS_MAX_BYTES=2147483648
